<nav class="navbar navbar-light bg-dark ">
    <a class="navbar-brand" href="#" ><b>&#169; HAFC Bank Pvt.Ltd </b></a>
    <span class="quote text-light">Giving you freedom...</span>
</nav>

<div class="container col-md-12 mt-0">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Sign Up</h3>

            </div>
            
            <div class="card-body">
                <form [formGroup]="registerForm" (ngSubmit)="register()">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <!-- (change)="pswdChange($event)" -->
                        <input type="text" name="accname" formControlName="accname" class="form-control" placeholder="accname"
                            id="login_accname" required>
                    </div>
                    <div *ngIf="(this.registerForm.get('accname')?.touched||this.registerForm.get('accname')?.dirty)&&this.registerForm.get('accname')?.errors" >invalid username</div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <!-- Event binding using $event (change)="accnoChange($event)" -->
                        <!-- template referncing variable - #acno -->
                        <!-- two way binding using ngModel -->

                        <input type="text" name="accno" formControlName="accno" class="form-control" placeholder="accno"
                            id="login_accno" required>

                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <!-- (change)="pswdChange($event)" -->
                        <input type="password" name="pswd" formControlName="pswd" class="form-control" placeholder="password"
                            id="login_password" required>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="register" class="btn float-right login_btn "
                           >
                    </div>

                </form>

            </div>
            <p>Existing user? <a routerLink="">Log In</a></p>
        </div>
    </div>
</div>